<template>

    <div class="card">
        <h4 class="ml-5 mt-3">Editando cliente</h4>
        <b-form @submit="onSubmit" @reset="onReset" v-if="show" class="mx-5 mt-1 mb-3">
         
            <b-container> 
                <b-row>
                    <b-col md="6" sm="12">
                        <b-form-group id="input-group-1" label="Marca o empresa" label-for="input-2">
                            <b-form-input
                              id="input-1"
                              v-model="form.brand"
                              required
                              placeholder="Nombre de la Marca o empresa"
                              description="(*) Obligatorio."
                              :class="{'is-invalid':errorMsgBrand}"
                            ></b-form-input>
                            
                            <span v-if="errorMsgBrand" :class="{'text-danger':errorMsgBrand}">
                                    <small>{{ errorMsgBrand }}</small>
                            </span>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" sm="12">
                        <b-form-group id="input-group-3" label="Encargado" label-for="input-2">
                            <b-form-input
                              id="input-3"
                              v-model="form.manager"
                              placeholder="Encargado"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" sm="12">
                        <b-form-group
                            id="input-group-2"
                            label="Email"
                            label-for="input-2"
                            description="Este campo es unico."
                          >
                            <b-form-input
                              id="input-2"
                              v-model="form.email"
                              type="email"
                              placeholder="Enter email"
                              :class="{'is-invalid':errorMsgEmail}"
                            ></b-form-input>
                            <span v-if="errorMsgEmail" :class="{'text-danger':errorMsgEmail}">
                                    <small>{{ errorMsgEmail }}</small>
                            </span>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" sm="12">
                        <label>Categorias o Rubros</label>
                        <vue-tags-input
                          v-model="tag"
                          :tags="tags"
                          :validation="validation"
                          :autocomplete-items="filteredItems"
                          @tags-changed="update"
                        />
                    </b-col>
                    
                </b-row>
                
                <b-row>
                    <b-col md="7" sm="12">
                        <b-form-group id="input-group-3" label="Dirección" label-for="input-2">
                            <b-form-input
                              id="input-3"
                              v-model="form.address"
                              placeholder="Dirección"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col md="5">
                        <b-form-group id="input-group-5" label="Web URL" label-for="input-2">
                                <b-form-input
                                  id="input-5"
                                  v-model="form.web"
                                  placeholder="http://"
                                ></b-form-input>
                            </b-form-group>
                        </b-form-group>
                    </b-col>
                    
                </b-row>
                <b-row>
                    <b-col md="6" sm="12">
                        <b-form-group id="input-group-4" label="URL Facebook" label-for="input-2">
                            <b-form-input
                              id="input-4"
                              v-model="form.facebook"
                              placeholder="URL"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" sm="12">
                        <b-form-group id="input-group-5" label="URL Instagram" label-for="input-2">
                                <b-form-input
                                  id="input-5"
                                  v-model="form.instagram"
                                  placeholder="URL Instagram"
                                ></b-form-input>
                            </b-form-group>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col class="text-right mt-3">
                        <b-button :href="urlBack()" variant="outline-danger">Cancelar</b-button>
                        <b-button type="submit" variant="primary ml-3">Actualizar</b-button>
                    </b-col>
                </b-row>
                
            </b-container>
        </b-form>
    </div>

</template>

<script>
  import { VueTagsInput, createTags } from '@johmun/vue-tags-input';
    export default {
        mounted() {
            this.getData(this.clientid)

        },
        props:['clientid'],
        data(){
            return{
                form:{
                  email:null,
                  brand:'',
                  address:null,
                  facebook:'',
                  instagram:null,
                  googlemap:"[]",
                  manager:null,
                  item:'',
                  phone:'',
                  phoneType:'landline',
                  web:'',
                },
                tag:'',
                tags:[],
                autocompleteItems:[],
                show: true,
                errorMsgBrand:'',
                errorMsgEmail:'',
                errorMsgPhoneid:'',
                items:[],
                debounce: null,
                validation: [{
                  classes: 'min-length',
                  rule: tag => tag.text.length < 5,
                }, {
                  classes: 'no-numbers',
                  rule: /^([^0-9]*)$/,
                }, {
                  classes: 'avoid-item',
                  rule: /^(?!Cannot).*$/,
                  disableAdd: true,
                }, {
                  classes: 'no-braces',
                  rule: ({ text }) => text.indexOf('{') !== -1 || text.indexOf('}') !== -1,
                }],
            }
        },
        methods:{
            async getData(id){
              const self = this;
              var url = '/getclient/'+id;
              let response  = await axios.get(url)
              this.data = await response.data;
              this.form.email = this.data.email; 
              this.form.brand = this.data.brand; 
              this.form.manager = this.data.manager; 
              this.form.address = this.data.address; 
              this.form.instagram = this.data.instagram; 
              this.form.facebook = this.data.facebook;
              this.form.web = this.data.web;  
          
               self.data.tags.forEach(function(element) {
                 //console.log(element.name);
                 self.tags.push(element.name)
               }); 
               self.tags = createTags(self.tags, [{ type: 'length', rule: /[0-9]/ }])
            },
            update(newTags) {
              this.autocompleteItems = [];
              this.tags = newTags;
            },
            onSubmit(evt) {
             this.errorMsgBrand="";
             this.errorMsgEmail="";
             this.errorMsgPhoneid="";
             const self = this;
             evt.preventDefault()
             let url = "/clients/"+this.clientid+''
             axios.put(url, {
                 brand: this.form.brand,
                 email: this.form.email,
                 manager: this.form.manager,
                 item: this.tags,
                 address: this.form.address,
                 phoneid: this.form.phone,
                 phonetype: this.form.phoneType,
                 googlemap: this.form.googlemap,
                 facebook: this.form.facebook,
                 instagram: this.form.instagram,
                 web: this.form.web,
                 // clear previous form errors
             }).then(function (response) {
                 //this.xresp = response.data;
                 
                 if(response){
                   window.location = self.urlBack();
                   console.log(response.data);
                 }                           
             }).catch(function (error) {
                 console.log(error);
                 
                 if (error.response.status == 422) {
                   //let validateMsgError = error.response.data.errors;
                   
                     if (error.response.data.errors.brand!=null) {
                       self.errorMsgBrand=error.response.data.errors.brand[0];
                     }
                     if (error.response.data.errors.email!=null) {
                       self.errorMsgEmail=error.response.data.errors.email[0];
                     }
                     if (error.response.data.errors.phoneid!=null) {
                       self.errorMsgPhoneid=error.response.data.errors.phoneid[0];
                     }
                     
                     console.log(error.response.data);
                 }
             });
           },
            onReset(){
              this.tag = "";
            },
            urlBack(){
                return "/clients/"+this.clientid+'';
            },
            initItems() {
              if (this.tag.length < 2) return;
              const url = '/gettags';

              clearTimeout(this.debounce);
              this.debounce = setTimeout(() => {
                axios.get(url).then(response => {
                  this.autocompleteItems = response.data.map(a => {
                    //console.log(response.data);
                    return { text: a.name };
                  });
                }).catch(() => console.warn('Oh. Something went wrong'));
              }, 600);
            },  
        },
        computed: {
          filteredItems() {
            return this.autocompleteItems.filter(i => {
              return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
            });
          },
        },
        watch: {
            'tag': 'initItems',
          },
       
    }
</script>
