<template>
    <div class="card">
        <div class="card-header" >
            <div class="row">
              <div class="col-md-10">
                <div v-if="data.thread!=null " :class="statusColor(data.thread.status)"  class="card-body p-0 d-flex align-items-center text-center" >
                    <p class="text-center text-white text-capitalize mb-0 pb-0 mx-auto" ><b>{{data.thread.status}}</b></p>
                </div>
                <div v-if="data.thread==null"   class="card-body bg-light p-0 d-flex align-items-center text-center">
                    <p class="text-center text-dark text-capitalize mb-0 pb-0 mx-auto"><b>Esperando proceso</b></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="btn-group">
                  <button type="button" class="btn btn-dark dropdown-toggle btn-sm" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    Acciones
                  </button>
                  <div class="dropdown-menu dropdown-menu-lg-right">
                    
                    <button @click="modalShow = !modalShow" class="dropdown-item" type="button"><i class="fas fa-th-list"></i> Crear Proceso</button>
                    <button class="dropdown-item " @click="senEmailInfo(data.id)" :disabled="data.email===null" type="button" ><i class="fas fa-paper-plane"></i> Enviar Información por email</button>
                    
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="card-body">
            <div class="col-md-12">
                <h3 v-if="msg!=''">{{msg}}</h3>
                <div v-if="records"  v-for="bar in records">
                    <h5>{{bar.status}}<a href="#" @click="deletedRecord(bar.id)" class="text-dark btn-link float-right"><i class="fas fa-times"></i></a></h5>
                    <b-progress height="8px"  :class="statusColor(bar.status)"></b-progress>
                    
                    <p>
                        <small class="flat-left">Nota: {{bar.observation}} </small>
                        <small class="float-right text-muted" :fecha="dateTranform(bar.created_at)">{{fecha}}</small>
                    </p>
                    <hr>    
                </div>
                <div v-else >
                    <h3>{{msg}}</h3>
                </div>
            </div>
        </div>

        <!--show modal-->
        <b-modal v-model="modalShow" hide-footer title="Agregar Proceso">
              <div class="container">
                <b-form @submit="onSubmit" @reset="onReset">
                    <div class="mb-1">
                        <b-form-select v-model="status" required :options="options">
                        </b-form-select>
                    </div>
                    <div>
                      <b-form-textarea
                        id="observation"
                        v-model="observation"
                        placeholder="Escribe una Nota aquí"
                        rows="5"
                      ></b-form-textarea>
                    </div>
                    <b-button class="mt-3" :disabled='isDisabled' variant="success" block type="submit">Agregar</b-button>
                    
                </b-form>
              </div>
          
        </b-modal>
    </div>
</template>

<script>
    import moment from "moment"
    import VueSweetalert2 from 'vue-sweetalert2'
    import VueLoading from 'vuejs-loading-plugin'
    Vue.use(VueLoading)
    export default {
        mounted() {
            this.getData(this.clientid);
            
            console.log('Records Mounted.'+this.clientid)
        },
        props:{
            clientid:"",
            
        },
        data:function(){
            return{
                
                data:[],
                records:[],
                msg:"",
                disabled:false,
                modalShow: false,
                status:null,
                show:false,
                observation:null,
                options: [
                  { value: null, text: 'Seleccionar Status' },
                  { value: 'Esperando respuesta', text: 'Esperando respuesta' },
                  { value: 'Información de servicios  enviada', text: 'Información de servicios  enviada' },
                  { value: 'Formulario recibido', text: 'Formulario recibido' },
                  { value: 'Esperando propuesta', text: 'Esperando propuesta' },
                  { value: 'Propuesta enviada', text: 'Propuesta enviada' },
                  { value: 'Propuesta aceptada', text: 'Propuesta aceptada' },
                  { value: 'No está interesado', text: 'No está interesado' },
                ],
            }
        },
        methods:{
            async getData(id){
              this.$loading(true)
              const self = this;
              var url = '/getclient/'+id;
              let response  = await axios.get(url)
              self.data = await response.data;
              if (self.data.thread!=null) {
                console.log("CLIENT:"+self.data.thread);
                  self.msg = ""
                  this.$loading(false)
                  self.getRecords(self.data.thread.id)

              } else{
                  self.msg = "Sin Procesos Registrados"
              }
            },
            async getRecords(id){
              this.$forceUpdate();
              this.$loading(true)
              var url = '/getrecords/'+id;
              let response  = await axios.get(url)
              this.records = await response.data; 
              console.log("RECORDS:"+this.records);
              this.$loading(false)
                if (!this.records.length) {
                    this.msg  ="No Existen Registros";
                }
                
            },
            statusColor: function (status) {

              if (status==null) {
                return "bg-light";
              }
              if(status=="Esperando respuesta"){
                  return "bg-dark";
              }
              if(status=="Información de servicios  enviada"){
                  return "bg-info";
              }
              if(status=="Formulario recibido"){
                  return "bg-warning";
              }
              if(status=="Esperando propuesta"){
                  return "bg-secondary";
              }
              if(status=="Propuesta enviada"){
                  return "bg-primary";
              }
              if(status=="Propuesta aceptada"){
                  return "bg-success";
              }
              if(status=="No está interesado"){
                  return "bg-danger";
              }
            },
            dateTranform(date){
                moment.locale("es");
                let fecha = "";
                var newdate = 'creado: '+ moment(date).format("MMM DD YYYY ")+ ' a las ' +moment(date).format("hh:mm A");
                return this.fecha = newdate;
            },
            async deletedRecord(id){
              const self = this;
              self.$forceUpdate();
              var url = '/records/'+id;
              let response  = await axios.delete(url)
              .then(response => {
                  //this.currentLog = response.data;
                  console.log(response.data)
                  this.$swal.fire({
                    position: 'top-end',
                    type: 'success',
                    title: 'Registro Borrado',
                    text: 'Se elimino correctamente del sistema',
                    showConfirmButton: false,
                    timer: 3000
                  })

                  self.getData(self.clientid);
                  self.getRecords(self.data.thread.id)

              })
              .catch(error => {
                  // Do something 
              });
            },
            onSubmit(evt) {
              const self = this;
              self.disabled = true;
              evt.preventDefault()
              //alert(JSON.stringify(this.form))
              axios.post('/records', {
                  status: self.status,
                  observation: self.observation,
                  clientId:self.clientid,
                  // clear previous form errors
              }).then(function (response) {
                  self.modalShow = false;
                  if(response){
                    //window.location = "/clients/"+self.clientId;
                    self.getData(self.clientid);
                    self.getRecords(self.data.thread.id)
                  }                           
                  self.disabled = false;
              }).catch(function (error) {
                  //console.log(error.response.data.errors);
                  
                  if (error.response.status == 404) {
                    //let validateMsgError = error.response.data.errors;
                      
                      console.log(error.response.data);
                  }
              });
            },
            onReset(){
              this.status=null;
              this.observation=null;
              this.modalShow= false;
              this.disabled = false;
            } ,
            async senEmailInfo(id){
              this.$loading(true);
              var url = '/sendinfoemail/'+id;
              let response  = await axios.get(url)
              .then(response => {
                  //this.currentLog = response.data;
                  this.$loading(false)
                  console.log(response.data)
                  this.$swal.fire({
                    position: 'top-center',
                    type: 'success',
                    title: 'Información de Servicios Enviada',
                    text: 'Se envio la informacin de nuestros servicios satisfactoriamente, ahora puede agregar el proceso siguiente a esta acción',
                    showConfirmButton: true,
                    //timer: 3000
                  });

              })
              .catch(error => {
                  // Do something 
                  this.$swal.fire({
                    position: 'top-center',
                    type: 'error',
                    title: 'No se pudo enviar el emails',
                    text: error,
                    showConfirmButton: true,
                    //timer: 3000
                  });
                  this.$loading(false)
              });
            }  
        },
        computed: {
          isDisabled: function(){
            return this.disabled;
          }
        },
        watch:{
          data:function(val){
            
              //this.data = val;
            
          }
        }
    }
</script>}

