<template>
  <div class="card">
    <h5 class="m-1">Ultimos Clientes</h5>
    <b-table
      id="client-table-list"
      :busy.sync="isBusy"
      responsive 
      :items="items"
      :per-page="perPage"
      :fields="fields"
      class=" table-sm"

    >
      <div slot="table-busy" class="text-center text-danger my-2">
        <b-spinner class="align-middle"></b-spinner>
        <strong>Loading...</strong>
      </div>
      <template slot="opciones" slot-scope="scope">
        <b-button size="sm" href="#" @click="showClient(scope.item.id)" variant="outline-primary"><i class="fas fa-folder-open"></i></b-button>

      </template>
    </b-table>
  </div>
</template>

<script>
    import Vue from 'vue'
    import BootstrapVue from 'bootstrap-vue'

    Vue.use(BootstrapVue)
    export default {
        name:"client-list",
        data:function(){
            return{
              isBusy: false,
              totalRows:0,
              perPage: 5,
              items:[],
              fields:[
                 {
                   key: 'brand',
                   label:'Marca',
                   sortable: false,
                 },
                 {
                   key: 'manager',
                   label:'Encargado',
                   sortable: false,
                 },
                 {
                   key: 'email',
                   label:'Email',
                   sortable: false,
                 },
                 {
                   key: 'thread.status',
                   label:'Proceso',
                   sortable: false,
                   formatter: 'hasThread'
                 },

                 'opciones'
              ],
            };
        },
        mounted() {
            this.getData();
        },
        methods: {
          async getData(){
            var url = '/clientslast';
              let response  = await axios.get(url)
              this.items = await response.data;
              this.totalRows = this.items.length;
              console.log(response);
          },
          isEmprty(val){
            if (val=="") {
              return "No Registrado";
            }else{
              return val;
            }
          },
          hasThread(val){
            if (!val) {
              return "No";
            }else{
              return val;
            }
          },
          showClient(id){
            window.location = "/clients/"+id;
          }

        }
    }
</script>