<template>
    <div class="card">
        <h4 class="ml-5 mt-3">Registrar Nuevo cliente</h4>
        <b-form @submit="onSubmit" @reset="onReset" v-if="show" class="mx-5 mt-1 mb-3">
         
            <b-container> 
                <b-row>
                    <b-col md="6" sm="12">
                        <b-form-group id="input-group-1" label="Marca o empresa" label-for="input-2">
                            <b-form-input
                              id="input-1"
                              v-model="form.brand"
                              required
                              placeholder="Nombre de la Marca o empresa"
                              description="(*) Obligatorio."
                              :class="{'is-invalid':errorMsgBrand}"
                            ></b-form-input>
                            
                            <span v-if="errorMsgBrand" :class="{'text-danger':errorMsgBrand}">
                                    <small>{{ errorMsgBrand }}</small>
                            </span>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" sm="12">
                        <b-form-group id="input-group-3" label="Encargado" label-for="input-2">
                            <b-form-input
                              id="input-3"
                              v-model="form.manager"
                              placeholder="Encargado"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                  <b-col md="6" sm="12">
                      <b-form-group id="input-group-3" label="Web URL" label-for="input-2">
                          <b-form-input
                            id="input-3"
                            v-model="form.web"
                            placeholder="http://"
                          ></b-form-input>
                      </b-form-group>
                  </b-col>
                  <b-col md="6" sm="12">
                    <label>Rubros</label>
                    <vue-tags-input
                      class="mr-0"
                      v-model="tag"
                      :tags="tags"
                      :autocomplete-items="rubros"
                      @tags-changed="newTags => tags = newTags"
                      />
                  </b-col>
                </b-row>
                <b-row>
                    <b-col md="6" sm="12">
                        <b-form-group
                            id="input-group-2"
                            label="Email"
                            label-for="input-2"
                            description="Este campo es unico."
                          >
                            <b-form-input
                              id="input-2"
                              v-model="form.email"
                              type="email"
                              placeholder="Enter email"
                              :class="{'is-invalid':errorMsgEmail}"
                            ></b-form-input>
                            <span v-if="errorMsgEmail" :class="{'text-danger':errorMsgEmail}">
                                    <small>{{ errorMsgEmail }}</small>
                            </span>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" sm="12">
                        <b-form-group id="input-group-3" label="Teléfono Principal" label-for="input-2">
                          <b-input-group>
                            
                              <b-form-input
                                id="input-3"
                                v-model="form.phone"
                                placeholder="Teléfono"
                                :class="{'is-invalid':errorMsgPhoneid}"
                              ></b-form-input>
                              <select class="custom-select col-md-4" id="inputGroupSelect02" v-model="form.phoneType">
                                <option value="landline">Linea Fija</option>
                                <option value="whatsapp">Whatsapp</option>
                                <option value="skype">Skype</option>
                              </select>
                          </b-input-group>
                            <span v-if="errorMsgPhoneid" :class="{'text-danger':errorMsgPhoneid}">
                                    <small>{{ errorMsgPhoneid }}</small>
                            </span>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                  <b-col md="12" sm="12">
                      <b-form-group id="input-group-3" label="Dirección" label-for="input-2">
                          <b-form-input
                            id="input-3"
                            v-model="form.address"
                            placeholder="Dirección"
                          ></b-form-input>
                      </b-form-group>
                  </b-col> 
            </b-row>
            <b-row>
              <b-col md="6" sm="12">
                <b-form-group id="input-group-4" label="URL Facebook" label-for="input-2">
                    <b-form-input
                      id="input-4"
                      v-model="form.facebook"
                      placeholder="URL"
                    ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col md="6" sm="12">
                <b-form-group id="input-group-5" label="URL Instagram" label-for="input-2">
                        <b-form-input
                          id="input-5"
                          v-model="form.instagram"
                          placeholder="URL Instagram"
                        ></b-form-input>
                    </b-form-group>
                </b-form-group>
              </b-col>
            </b-row>
            
            <b-row align-h="end">
                <b-button href="/clients" variant="outline-danger">Cancelar</b-button>
                <b-button type="submit" variant="primary ml-3">Registrar</b-button>
            </b-row>
            </b-container>
        </b-form>
    </div>
</template>

<script>
  import VueTagsInput from '@johmun/vue-tags-input';
  export default {
    mounted(){
      this.getData()
    },
    data() {
      return {
        form:{
          email:null,
          brand:'',
          address:null,
          facebook:'',
          web:'',
          instagram:null,
          googlemap:"[]",
          manager:null,
          item:'',
          phone:'',
          phoneType:'landline',
        },
        tag:'',
        tags:[],
        rubros:[],
        show: true,
        errorMsgBrand:'',
        errorMsgEmail:'',
        errorMsgPhoneid:'',
      }
    },

    methods: {
      async getData(){
        const self = this;
        var url = '/gettags';
        let response  = await axios.get(url)
        this.data = await response.data; 
         this.data.forEach(function(element) {
           //console.log(element.name);
           self.rubros.push(element.name)
         });
         console.log(this.rubros);
      },
      onSubmit(evt) {
        this.errorMsgBrand="";
        this.errorMsgEmail="";
        this.errorMsgPhoneid="";
        const self = this;
        evt.preventDefault()
        //alert(JSON.stringify(this.form))
        axios.post('/clients', {
            brand: this.form.brand,
            email: this.form.email,
            manager: this.form.manager,
            item: this.tags,
            address: this.form.address,
            phoneid: this.form.phone,
            web: this.form.web,
            phonetype: this.form.phoneType,
            googlemap: this.form.googlemap,
            facebook: this.form.facebook,
            instagram: this.form.instagram,
            // clear previous form errors
        }).then(function (response) {
            //this.xresp = response.data;
            
            if(response){
              window.location = "/clients";
              //console.log(response.data);
            }                           
        }).catch(function (error) {
            //console.log(error.response.data.errors);
            
            if (error.response.status == 422) {
              //let validateMsgError = error.response.data.errors;
              
                if (error.response.data.errors.brand!=null) {
                  self.errorMsgBrand=error.response.data.errors.brand[0];
                }
                if (error.response.data.errors.email!=null) {
                  self.errorMsgEmail=error.response.data.errors.email[0];
                }
                if (error.response.data.errors.phoneid!=null) {
                  self.errorMsgPhoneid=error.response.data.errors.phoneid[0];
                }
                
                console.log(error.response.data);
            }
        });
      },
      onReset(){
        this.tag = "";
      }

    },
    computed: {
      
    },
  }
</script>
