<template>
    <div class="card ">
        <div class="card-header bg-dark text-white text-center px-5 py-3">
            <b-row>
                <div v-for="tag in data.tags" style="margin-top: -18px; margin-left: -20px">
                    <span class="badge badge-info mr-4 p-1 text-capitalize">{{tag.name}}</span>
                </div>
            </b-row>
            <b-row>
                <b-img v-bind="image" :src="getImageUrl()" rounded="circle" alt="Circle image" fluid></b-img>
            </b-row>
            <h3 class="text-center text-capitalize">{{data.brand}} </h3>

            <p v-if="data.email !=null " class="text-center"><small><i class="fas fa-envelope"></i> {{data.email}}</small></p>
            <a v-if="data.web !=null " :href="''+data.web" class=" text-white" target="_blank"><i class="fas fa-globe"></i> {{data.web}}</a>
            
            <a :href="editUrl" class="btn btn-link btn-sm float-right text-light" style="margin-bottom: -15px;margin-right:-40px"><i class="fas fa-user-edit"></i></a>
        </div>
        <div class="card-body px-5 py-3">
                
                <p title="Encargado" class="text-capitalize"><i class="fas fa-user-shield"> </i>
                    <b v-if="data.manager!=null">{{data.manager}}</b>
                    <b v-else class="text-muted">No Registrado</b>
                </p>
                <p v-if="data.address !=null " class="text-capitalize"><small><i class="fas fa-map-marker-alt"> </i> {{data.address}}</small></p>

        </div>
        <client-phones :clientid="this.clientid"></client-phones>
        
        <div class="card-body px-5 py-3 text-center">
            <a v-if="data.facebook !=null " :href="''+data.facebook" class="mx-2" target="_blank"><i class="fab fa-facebook fa-2x" style="color: #4267b2"> </i></a>
            <a v-if="data.instagram !=null " :href="''+data.instagram" class="mx-2" target="_blank"><i class="fab fa-instagram fa-2x" style="color: #D7358B"> </i></a>
        </div>
    </div>

</template>

<script>
    import Vue from 'vue'
    import VueSweetalert2 from 'vue-sweetalert2';
    Vue.use(VueSweetalert2);
    export default {
        name:"clientshowdetails",
        mounted() {
            this.getData(this.clientid);
            console.log("Details Mounted."+this.clientid)
            
        },
        data:function(){
            return{
                image: {
                    center: true,
                    width: 120,
                    height: 120,
                    class: 'my-1'
                },
                data:[],
                editUrl:"/clients/"+this.clientid+"/edit",
            }
        },
        props:{
            clientid:"",
        },
        methods: {
            async getData(id){
                this.$forceUpdate();
                var url = '/getclient/'+id;
                let response  = await axios.get(url)
                this.data = await response.data;  
                console.log(response.data);
            },
            getImageUrl() {
                return `https://bmsystem.dev/images/default-user.png`;
            },
            
            
        },
        
    }
</script>
