<template>
  <div>
    <b-row align-h="end">
      <b-col md="4" class="my-1" >
        <b-form-group class="mb-0">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Buscar por algun campo"></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>
      <div>
        <b-button variant="outline-primary" href="/clients/create" class="my-1"><i class="fas fa-user-plus"></i></b-button>
      </div>
    </b-row>
    <b-table
      id="client-table-list"
      :busy.sync="isBusy"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :filter="filter"
      @filtered="onFiltered"
      class="text-capitalize table-sm"
    >
      <div slot="table-busy" class="text-center text-danger my-2">
        <b-spinner class="align-middle"></b-spinner>
        <strong>Loading...</strong>
      </div> 
      <template slot="opciones" slot-scope="scope">
        <b-button size="sm" href="#" @click="showClient(scope.item.id)"  variant="outline-primary"><i class="fas fa-folder-open"></i></b-button>

      </template>
    </b-table>
    <div class="container-fluid">
      <b-row>
        <b-col md="" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            class="my-0"
            align="center"
          ></b-pagination>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
    import Vue from 'vue'
    import BootstrapVue from 'bootstrap-vue'
    import moment from "moment";

    Vue.use(BootstrapVue)
    export default {
        name:"client-all-list",
        data:function(){
            return{
              isBusy: false,
              totalRows:0,
              items:[],
              sortBy: 'brand',
              sortDesc: false,
              totalRows: 1,
              currentPage: 1,
              perPage: 25,
              filter:null,
              fields:[
                 {
                   key: 'brand',
                   label:'Marca',
                   sortable: true,

                 },
                 {
                   key: 'manager',
                   label:'Encargado',
                   sortable: false,
                   formatter:'isEmprty'
                 },
                 {
                   key: 'email',
                   label:'Email',
                   sortable: false,
                   formatter:'isEmprty'
                 },
                 {
                   key: 'thread.status',
                   label:'Proceso',
                   sortable: false,
                   formatter: 'hasThread'
                 },
                 {
                   key: 'created_at',
                   label:'Fecha Registro',
                   sortable: true,
                   formatter: 'dateTranform'
                 },

                 'opciones'
              ],
            };
        },
        mounted() {
            this.getData(); 
        },
        methods: {
          async getData(){
            var url = '/clientsall';
              let response  = await axios.get(url)
              this.items = await response.data;
              this.totalRows = this.items.length;
              console.log(response);
          },
          isEmprty(val){
            if (val === null) {
              return "No";
            }else{
              return val;
            }
          },
          hasThread(val){
            if (!val) {
              return "No";
            }else{
              return val;
            }
          },
          onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length
            this.currentPage = 1
          },
          showClient(id){
            window.location = "/clients/"+id;
          },
          dateTranform(date){
              moment.locale("es");
              let fecha = "";
              var newdate = moment(date).format("MMM DD YYYY ");
              return this.fecha = newdate;
          },

        },
        computed:{
          sortOptions() {
            // Create an options list from our fields
            return this.fields
              .filter(f => f.sortable)
              .map(f => {
                return { text: f.label, value: f.key }
              })
          }
        },
    }
</script>