<template>
    <div>
        <p class=" mb-2 p-2"><small>Items de contacto</small> <a href="#" @click="$bvModal.show('bv-modal-example')" class="float-right"><i class="fas fa-plus"></i></a></p>
        <ul class="list-group" v-if="data !=null">
            <li v-for="phone in data" class="list-group-item">
                <i v-if="phone.type==='whatsapp'" class="fab fa-whatsapp" style="color: #27A31D"> <b class="text-dark"> <a :href="linkWhatsapp(phone.phoneid)" target="_blank"> {{phone.phoneid}}</a></b></i>

                <i v-if="phone.type==='landline'" class="fas fa-phone text-dark"> <b> {{ phone.phoneid}}</b></i>
                <i v-if="phone.type==='skype'" class="fab fa-skype text-primary"> <b class="text-dark"><a :href="linkSkype(phone.phoneid)"> {{phone.phoneid}}</a></b></i>
                <a href="#" @click="deletedData(phone.id)" class="text-dark btn-link float-right"><i class="fas fa-times"></i></a>
            </li>
        </ul>
        <b-modal id="bv-modal-example" hide-footer>
            <template slot="modal-title">
              Agregar item de contacto
            </template>
            <div class="d-block">
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                    <b-col md="12" sm="12">
                        <b-form-group id="input-group-3" label="Teléfono Principal" label-for="input-2">
                          <b-input-group>
                            
                              <b-form-input
                                id="input-3"
                                v-model="form.phoneid"
                                placeholder="Teléfono"
                                required
                                :class="{'is-invalid':errorMsgPhoneid}"
                              ></b-form-input>
                              <select class="custom-select col-md-4" id="inputGroupSelect02" v-model="form.phoneType" required>
                                <option value="landline">Linea Fija</option>
                                <option value="whatsapp">Whatsapp</option>
                                <option value="skype">Skype</option>
                              </select>
                          </b-input-group>
                            <span v-if="errorMsgPhoneid" :class="{'text-danger':errorMsgPhoneid}">
                                    <small>{{ errorMsgPhoneid }}</small>
                            </span>
                        </b-form-group>
                    </b-col>
                        <div class="text-right">
                            <b-button class="mt-3 btn-sm btn-default" :disabled='isDisabled'  @click="$bvModal.hide('bv-modal-example')">Cancelar</b-button>
                            <b-button class="mt-3 btn-sm btn-success" type="submit">Guardar</b-button>
                        </div>
                  </b-form>
            </div>
            
          </b-modal>
    </div>
</template>

<script>
  import VueLoading from 'vuejs-loading-plugin'
  Vue.use(VueLoading)
    export default {
        mounted() {
            console.log("Phones mounted "+this.clientid)
            this.getData(this.clientid)
        },
        props:{
            clientid:"",
        },
        data:function(){
            return{
                show:true,
                disabled:false,
                errorMsgPhoneid:'',
                data:[],
                form:[{
                    phoneid:"",
                    phoneType:"",
                }],
            }
        },
        methods:{
            async getData(id){
                this.$loading(true)
                this.$forceUpdate();
                var url = '/getphones/'+id;
                let response  = await axios.get(url)
                this.data = await response.data; 
                this.$loading(false)
                console.log("PHONES"+response.data);
            },
            linkSkype(user){
                return "skype:"+user+"?call";
            },
            linkWhatsapp(num){
                let mensaje = "Hola este seria el mensaje que va a todos los clientes";
                return "https://api.whatsapp.com/send?phone=51"+num+"&text="+mensaje;
            },
            async onSubmit(evt){
                this.$loading(true)
                const self = this;
                self.disabled = true;
                self.errorMsgPhoneid="";
                evt.preventDefault();
                await axios.post('/phones', {
                    phoneid: self.form.phoneid,
                    phoneType: self.form.phoneType,
                    clientid: self.clientid,
                    // clear previous form errors
                }).then(function (response) {
                    if(response){
                      self.$bvModal.hide('bv-modal-example');
                      self.getData(self.clientid);
                      self.$loading(false)
                    }                           
                }).catch(function (error) {
                    //console.log(error.response.data.errors);
                    
                    if (error.response.status == 422) {
                      //let validateMsgError = error.response.data.errors;
                        if (error.response.data.errors.phoneid!=null) {
                          self.errorMsgPhoneid=error.response.data.errors.phoneid[0];
                        }
                        
                        console.log(error.response.data);
                    }
                });
            },
            onReset:function(){
                this.form.phoneid="";
                this.form.phoneType="";
                this.disabled = false;
            },
            async deletedData(id){
              const self = this;
              self.$forceUpdate();
              var url = '/phones/'+id;
              let response  = await axios.delete(url)
              .then(response => {
                  //this.currentLog = response.data;
                  console.log(response.data)
                  this.$swal.fire({
                    position: 'top-end',
                    type: 'success',
                    title: 'Item de contacto eliminado',
                    text: 'Se elimino correctamente del sistema',
                    showConfirmButton: false,
                    timer: 3000
                  })
                  self.getData(self.clientid);
              })
              .catch(error => {
                  // Do something 
              });
            },
            
        },
        computed: {
          isDisabled: function(){
            return this.disabled;
          }
        },
    }
</script>
