<template>
    <div class="card">
        <h5 class="m-1">Clientes en espera</h5>
        <b-table
          responsive 
          :items="data"
          :fields="fields"
          class=" table-sm"

        >
          <template slot="opciones" slot-scope="scope">
            <a href="#"  @click="showClient(scope.item.client_id)"><i class="fas fa-folder-open"></i></a>

          </template>
        </b-table>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getData();
        },
        data:function(){
            return {
                data:[],
                fields:[
                   {
                     key: 'client.brand',
                     label:'Marca',
                     sortable: false,
                   },
                   {
                     key: 'client.manager',
                     label:'Encargado',
                     sortable: false,
                   },
                   {
                     key: 'status',
                     label:'Proceso',
                     sortable: false,
                     formatter: 'hasThread'
                   },

                   'opciones'
                ],
            }
        },
        methods:{
            async getData(){
              var url = '/getlastthreads';
                let response  = await axios.get(url)
                this.data = await response.data;
                console.log(response.data);
            },
            hasThread(val){
              if (!val) {
                return "No";
              }else{
                return val;
              }
            },
            showClient(id){
              window.location = "/clients/"+id;
            }
        }
    }
</script>
